{% extends 'base.html.twig' %}

{% block title %}Dynamic Form Demo{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">
      <h3>Nombre total de médecins: {{ total_medecin }}</h3>
      {{ form(medecin_form) }}
    </div>
  </div>
{% endblock %}
